<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title || 'Capybara Guide' %></title>
    <%= stylesheet_link_tag    "capybara/guides/application", media: "all" %>
    <%= javascript_include_tag "capybara/guides/application" %>
    <%= csrf_meta_tags %>

    <style>
      h2 {
        clear: both;
      }

      .screenshot {
        border: solid 1px black;
        padding: 0.5em;
        float: left;
        clear: left;
        margin: 0 2em 2em 0;
        width: 40%;
      }
      .screenshot::after {
        content: "";
        display: table;
        clear: both;
      }

      .element_screenshot {
        border: none;
        max-width: 40%;
        display: inline;
      }

      aside {
        border-top: solid 2px #cccccc;
        border-bottom: solid 2px #cccccc;
        padding: 1em 0;
        width: 40%;
        display: inline-block
      }

      ol.steps>li {
        list-style: none;
        margin-bottom: 2em;
      }

      samp {
        background: #eeeeee;
        padding: 0.1em 0.2em;
        border: solid 1px #dddddd;
        border-radius: 2px;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
