<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title || 'Capybara Guide' %></title>
    <%= stylesheet_link_tag    "capybara/guides/application", media: "all" %>
    <%= javascript_include_tag "capybara/guides/application" %>
    <%= csrf_meta_tags %>

    <style>
      h2 {
        clear: left;
      }
      .screenshot {
        border: solid 1px black;
        padding: 0.5em;
        float: left;
        clear: left;
        margin: 0 2em 2em 0;
        width: 40%;
      }

      .element_screenshot {
        border: solid 1px black;
        padding: 0.5em;
        margin: 0 2em 2em 0;
        max-width: 40%;
        display: block;
      }

      aside {
        border-top: solid 2px #cccccc;
        border-bottom: solid 2px #cccccc;
        padding: 1em 0;
        width: 40%;
        display: inline-block
      }
      ol.steps>li {
        list-style: none;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
