<!DOCTYPE html>
<html>
  <head>
    <title><%= yield :title || 'Capybara Guide' %></title>
    <%= stylesheet_link_tag    "capybara/guides/application", media: "all" %>
    <%= javascript_include_tag "capybara/guides/application" %>
    <%= csrf_meta_tags %>

    <style>
      .screenshot {
        border: solid 1px black;
        padding: 0.5em;
        float: left;
        margin-bottom: 2em;
        width: 40%;
      }

      .element_screenshot {
        border: solid 1px black;
        padding: 0.5em;
        margin: 0 2em 2em 0;
        max-width: 100%;
        display: block;
      }
      ol.steps>li {
        clear: left;
        float: left;
        margin-bottom: 2em;
        width: 100%;
      }
      ol.actions {
        float: left;
        width: 40%;
      }
      ol.actions>li {
        clear: left;
        float: left;
        margin-bottom: 1em;
      }
    </style>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
