<% content_for :title do %>
  <%= @guide.browser_title %>
<% end %>
<h1><%= @guide.title %></h1>
<p><%= @guide.intro %></p>
<ol class="steps">
  <% @guide.steps.each do |step| %>
    <li>
      <h2><%= step.title %></h2>
      <img src="images/<%= step.screenshot_filename %>" class="screenshot">
      <% if step.actions.any? %>
        <ol class="actions">
          <% step.actions.each do |action| %>
            <li>
              <%= action %>
            </li>
          <% end %>
        </ol>
      <% end %>
    </li>
  <% end %>
</ol>
